@using Tizhoshan.ServiceLayer.DTOs.AccountViewModels
@model BaseChangePasswordViewModel

@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_Header" />


<div class="content-wrapper  js-content-wrapper">

    <section class="form-page js-mouse-move-container" style="display:grid;">

        <center>

            <div class="form-page__content">
                <div class="container">
                    <div class="row justify-center items-center">
                        <div class="col-xl-6 col-lg-8">
                            <div class="px-50 py-50 md:px-25 md:py-25 bg-white shadow-1 rounded-16">
                                <h3 class="text-30 lh-13">شماره تلفن همراه</h3>

                                <form method="post" class="contact-form respondForm__form row y-gap-20 pt-30">
                                    <div class="col-12">
                                        <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">شماره تلفن همراه</label>
                                        <input type="text" asp-for="PhoneNumber">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="button -md -green-1 text-dark-1 fw-500 w-1/1">
                                            ثبت شماره
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </center>

    </section>


</div>

<partial name="_Footer" />


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

