@using Tizhoshan.ServiceLayer.DTOs.AccountViewModels
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ============================ Login Wrap ================================== -->
<section>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12">
                <form method="post" action="/ChangePassword">
                    <input asp-for="PhoneNumber" hidden value="@ViewBag.PhoneNumber" />
                    <div class="crs_log_wrap">
                        <div class="crs_log__thumb">
                            <img src="/themes/skillup/img/banner-2.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="crs_log__caption">
                            <div class="rcs_log_123">
                                <div class="rcs_ico"><i class="fas fa-lock"></i></div>
                            </div>

                            <div class="rcs_log_124">
                                <div class="Lpo09"><h4>تغییر رمز عبور</h4></div>
                                <div class="form-group">
                                    <label>رمز عبور</label>
                                    <input asp-for="Password" type="password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>تکرار رمز عبور</label>
                                    <input asp-for="RePassword" type="password" class="form-control" />
                                    <span asp-validation-for="RePassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn full-width btn-md theme-bg text-white">تغییر رمز عبور</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
<!-- ============================ Login Wrap ================================== -->


@section Scripts{

    <partial name="_ValidationScriptsPartial" />

}