@using Tizhoshan.ServiceLayer.DTOs.AccountViewModels
@model ConfirmPhoneViewModel

@{
    ViewData["Title"] = "تایید حساب کاربری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_Header" />

<div class="content-wrapper  js-content-wrapper">

    <section class="form-page js-mouse-move-container" style="display:grid;">

        <center>
            <div class="form-page__content">
                <div class="container">
                    <div class="row justify-center items-center">
                        <div class="col-xl-6 col-lg-8">
                            <div class="px-50 py-50 md:px-25 md:py-25 bg-white shadow-1 rounded-16">
                                <h3 class="text-30 lh-13">تایید حساب کاربری</h3>

                                <form method="post" action="/ConfirmPhone" class="contact-form respondForm__form row y-gap-20 pt-30">
                                    <input hidden asp-for="PhoneNumber" value="@ViewBag.phoneNumber" />
                                    <div class="col-12">
                                        <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">کد تایید:</label>
                                        <input type="text" asp-for="Code">
                                        <span asp-validation-for="Code" class="text-danger"></span>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="button -md -green-1 text-dark-1 fw-500 w-1/1">
                                            ثبت کد
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>





    </section>


</div>


<partial name="_Footer" />


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}


