@using Tizhoshan.ServiceLayer.DTOs.AccountViewModels
@model RegisterViewModel

@{
    ViewData["Title"] = "ایجاد حساب کاربری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12">
                <form method="post">
                    <div class="crs_log_wrap">
                        <div class="crs_log__thumb">
                            <img src="/themes/skillup/img/banner-2.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="crs_log__caption">
                            <div class="rcs_log_123">
                                <div class="rcs_ico"><i class="fas fa-user"></i></div>
                            </div>

                            <div class="rcs_log_124">
                                <div class="Lpo09"><h4>ایجاد حساب کاربری</h4></div>
                                <div class="form-group row mb-0">
                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label>نام و نام خانوادگی</label>
                                            <input asp-for="DisplayName" type="text" required="لطفا نام و نام خانوادگی را وارد کنید" class="form-control" placeholder="نام و نام خانوادگی" />
                                            <span asp-validation-for="DisplayName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label>شماره تلفن همراه</label>
                                            <input asp-for="PhoneNumber" type="text" required="لطفا شماره تلفن همراه را وارد کنید" class="form-control" placeholder="09123456789" />
                                            <span asp-validation-for="DisplayName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label>رمز عبور</label>
                                            <input asp-for="Password" type="password" required="لطفا رمز عبور را وارد کنید" class="form-control" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label>تکرار رمز عبور</label>
                                            <input asp-for="RePassword" type="password" required="لطفا تکرار رمز عبور را وارد کنید" class="form-control" />
                                            <span asp-validation-for="RePassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn full-width btn-md theme-bg text-white">ثبت نام</button>
                                </div>
                            </div>

                        </div>
                        <div class="crs_log__footer d-flex justify-content-between">
                            <div class="fhg_45"><p class="musrt">آیا حساب  کاربری دارید؟ <a asp-controller="Account" asp-action="login" class="theme-cl">ورود</a></p></div>
                        </div>
                        <div class="d-flex justify-content-between mt-0 mr-3">
                            <div class="fhg_45"><p class="musrt">ثبت نام شما به معنای پذیرش <a href="#" class="theme-cl">قوانین و شرایط آکادمی تیزهوشان </a> است.</p></div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</section>


@section Scripts{

    <partial name="_ValidationScriptsPartial" />

}
